h1{
    color: green;
}

img{
    height: 400px;
    width: 500px;
    background-repeat: round;
    background-size: cover;
    background-image: url("./demo.jpg");
}

.bg{
    background-color: #00B83F;
}